
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body{
	background-color: #21D4FD;
background-image: linear-gradient(251deg, #00d790 0%, #d40066 100%)
/* background-image:url(4.jpg); */


}
*, ::after, ::before {
    box-sizing: inherit;
}
.container {
	flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}
.form_container {
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	border-radius: 20px;
	min-height: 350px;
	background-color: #aa6172;
}
.input_container {
	padding: 4em;
	position: relative;
	color: #fff;
}
.input_container h1{
	font-size: 30px;
}
#input {
	padding: 10px 30px;
	background: #fff;
	width: 100%;
	font-size: 16px;
	border-radius: 15px;
	border: 2px solid #B721FF;
}

.submit {
	background: #B721FF;
	padding: 10px 30px;
	color: #fff;
	border: 2px solid #B721FF;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 20px;
	position: absolute;
	right: 2em;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.right {
	background: url(6_2.jpg);
	background-size: cover;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-clip-path: polygon(
		100% 0%,
		99% 50%,
		100% 100%,
		23% 100%,
		11% 51%,
		0 0
	);
	clip-path: polygon(100% 0%, 99% 50%, 100% 100%, 23% 100%, 11% 51%, 0 0);
}
.top {
	display: none;
	background: url(5.jpg);
	background-size: cover;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#error {
	color: #35b7a4;
}
@media 	screen and (max-width: 768px) {
	.right {
		display: none;
	}
	.top {
		display: block !important;
		height: 300px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
	}
}

 a{
	text-decoration: none;
	color: #00d1b2;
	font-weight: 800;
	}
a:hover {
	color: pink
}
/* .credit a{
	text-decoration: none;
	color: #B721FF;
	font-weight: 800;
	}
	
	.credit {
	  margin: 10px;
	}


.columns {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	margin-top: -0.75rem;
}
.columns:last-child {
	margin-bottom: -0.75rem;
}
@media screen and (min-width: 769px), print {
	.column.is-half, .column.is-half-tablet {
		flex: none;
		width: 50%;
	}
.columns:not(.is-desktop) {
	display: flex;
}
} */